
front-end/node_modules/
front-end/npm-debug.log
front-end/yarn-error.log
front-end/.gitignore
front-end/README.md

back-end/vendor/
back-end/.gitignore
back-end/README.md


# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

#docker
docker-compose.yml
